#wrapper {
	width: 480px;
	max-width: 480px;
	min-width: 480px;
}

#header {
	height: 24px;
}

h1 {
	height: 24px;
	line-height: 24px;
	font-size: 1.2em;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
	padding: 0 48px;
}

#transcript,
#stage {
	left: 0;
	top: 294px;
	bottom: 0;
	width: 100%;
	border-left: none;
	border-right: none;
}

#transcript article {
	padding-bottom: 8em;
}

#stage article {
	padding-bottom: 1em;
}

#stage .effect {
	display: none;
}

#stage .item:hover .actions {
	top: -99999px;
}

#stage-videos {
	left: 0;
	border-left: none;
}

.video {
	top: 24px;
	width: 100%;
	border-right: none;
}

.hyperaudio-player {
	width:100%;
	height:270px;
}

.hyperaudio-player-video-wrapper,
.hyperaudio-player-youtube-wrapper {
	top:0;
	width:100%;
	height:270px;
}

.hyperaudio-player .solution {
	left:0;
}

.button {
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	width: 24px;
	height: 24px;
	border: none;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	overflow:hidden;
	cursor: pointer
}
.button:hover {
	background-color: #ccc;
}
.button a {
	display:block;
	padding: 0;
	margin: 0;
	width: 24px;
	height: 24px;
	overflow: hidden;
}
.button a img {
	padding: 1px;
	margin: 1px;
	width: 22px;
	height: 22px;
}

.btn-logo {
	left: 0;
}
.btn-share {
	right: 0;
}
.btn-edit {
	right: 24px;
}
