.hyperaudio-player {
	width:50%;
	height:280px;
}

.hyperaudio-player-video-wrapper,
.hyperaudio-player-youtube-wrapper {
	top:10px;
	width:90%;
	height:260px;
}

.hyperaudio-player .solution {
	left:5%;
}

.hyperaudio-player:-webkit-full-screen { top:0; left:0; }
.hyperaudio-player:-moz-full-screen { top:0; left:0; }
.hyperaudio-player:-ms-full-screen { top:0; left:0; }
.hyperaudio-player:-o-full-screen { top:0; left:0; }
.hyperaudio-player:full-screen { top:0; left:0; }

.hyperaudio-player:-webkit-full-screen .solution { left:0; }
.hyperaudio-player:-moz-full-screen .solution { left:0; }
.hyperaudio-player:-ms-full-screen .solution { left:0; }
.hyperaudio-player:-o-full-screen .solution { left:0; }
.hyperaudio-player:full-screen .solution { left:0; }

.hyperaudio-player:-webkit-full-screen .hyperaudio-player-video-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-moz-full-screen .hyperaudio-player-video-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-ms-full-screen .hyperaudio-player-video-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-o-full-screen .hyperaudio-player-video-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:full-screen .hyperaudio-player-video-wrapper { top:0; width:100%; height:100%; }

.hyperaudio-player:-webkit-full-screen .hyperaudio-player-youtube-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-moz-full-screen .hyperaudio-player-youtube-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-ms-full-screen .hyperaudio-player-youtube-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:-o-full-screen .hyperaudio-player-youtube-wrapper { top:0; width:100%; height:100%; }
.hyperaudio-player:full-screen .hyperaudio-player-youtube-wrapper { top:0; width:100%; height:100%; }
