/* main container */
.hyperaudio-pad {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  padding: 2em;
  color: #1a1a1a;
}

.hyperaudio-pad > div {
  flex-basis: 100%;
  display: flex;
}

/* each column */
.hyperaudio-pad > div > section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #d8d8d8;
}

/* space between column */
.hyperaudio-pad > div > section + section {
  margin-left: 2em;
}

.hyperaudio-pad > div > section > article {
  /* flex-basis: 100%; */
}

/* selection colour */
::selection {
  background: #87d8e7;
  text-shadow: none;
}

/* effects: default no show */
.hyperaudio-effect {
  display: none;
}

/* effects: show in right pad only */
.hyperaudio-sink .hyperaudio-effect {
  display: block;
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

/* FIXME */
.hyperaudio-sink .hyperaudio-effect {
  display: none;
}

.hyperaudio-sink .hyperaudio-effect[data-type] {
  display: block;
}

.hyperaudio-sink .hyperaudio-effect {
  display: none;
}

.hyperaudio-effect > label {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.hyperaudio-effect input {
  display: none;
}

/* vertical alingn fix for slider */
.hyperaudio-effect > label .hyperaudio-range {
  flex-grow: 1;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

/* fix for duplication on DnD reordering */
.rangeslider + .rangeslider {
  display: none;
}

.hyperaudio-sink .hyperaudio-effect:focus {
  outline: none;
}

/* transcript blocks */
.hyperaudio-source .hyperaudio-transcript {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
}

.hyperaudio-sink .hyperaudio-transcript {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
}

.hyperaudio-sink .hyperaudio-transcript:focus {
  /* border-left: 1px solid red; */
  border-right: 1px solid transparent;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
}

/* border-top is a "drop zone" effect */
.hyperaudio-transcript {
  border-top: 0 solid #e9f8fb;
  transition: border-top 0.15s;
  background-color: white;
}

/* .hyperaudio-transcript:last-child {
  border-bottom: 0 solid #e9f8fb;
  transition: border-bottom 0.15s;
} */

.hyperaudio-sink .hyperaudio-transcript.hyperaudio-over {
  border-top: 2em solid #e9f8fb;
  transition: border-top 0.15s;
}

.hyperaudio-sink article.hyperaudio-over {
  /* background-color: #e9f8fb; */
  padding-bottom: 5em;
}

/* .hyperaudio-sink article.hyperaudio-over .hyperaudio-transcript:last-child::after {
  display: block;
  content: 'append here…';
  border-bottom: 4em solid #e9f8fb;
  transition: border-bottom 0.15s;
}

.hyperaudio-sink article.hyperaudio-over .hyperaudio-transcript.hyperaudio-over:last-child::after {
  display: none;
  border-bottom: 0 solid #e9f8fb;
  transition: border-bottom 0.15s;
} */

/* container for media */
.hyperaudio-player header {
  /* background-color: #f4f4f4; */
  background-color: black;
}

/* hide img placeholder once we have media */
.hyperaudio-player header video + img, .hyperaudio-player header audio + img {
  display: none;
}

/* keep selection cursor as text for left pad */
.hyperaudio-player:not(.hyperaudio-source) *[data-t] {
    cursor: pointer;
}

/* media */
.hyperaudio-player video, .hyperaudio-player audio {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.hyperaudio-player p {
  margin: 0;
  padding: .5em 0;
  line-height: 1.66em;
}

/* speaker name */
.hyperaudio-player .speaker {
  font-weight: bold;
  color: black;
  margin-right: .3em;
}

/* speaker decoration */
.hyperaudio-player .speaker::after {
  /* content: ':'; */
  /* margin-right: .2em; */
}

/* active section */
.hyperaudio-player .hyperaudio-active {
  color: #d74b36;
}

/* text selection */
.hyperaudio-source .hyperaudio-selected, hyperaudio-player .hyperaudio-active.hyperaudio-selected {
  background: #87d8e7;
  text-shadow: none;
}

.hyperaudio-fade {
  opacity: 0;
}

/* right pad buttons */
 div.hyperaudio-buttons {
   display: flex;
   background-color: #f4f4f4;
   padding: 10px;
 }

 div.hyperaudio-buttons > div, .hyperaudio-buttons > button {
   height: 38px;
   border: 1px solid #d3d3d3;
   flex-grow: 1;
   font-size: 1rem;
   font-family: sans-serif;
   text-align: center;
 }

 div.hyperaudio-buttons > div {
   background-color: white;
   padding-top: 10px;
 }

 div.hyperaudio-buttons > div + div, div.hyperaudio-buttons > div + button, div.hyperaudio-buttons > button + button {
   margin-left: 10px;
 }

 .hyperaudio-buttons > button {
   background-color: #e10600;
   color: white;
 }

.hyperaudio-source input {
  width: 100%;
}

/* default "played" colour */
section.hyperaudio-transcript {
  color: black;
}

/* unplayed colour */
section.hyperaudio-current {
  color: #658898;
  /* border-left: 10px solid red !important; */
}

/* played words in current segment */
section.hyperaudio-current .hyperaudio-past {
  color: black;
}

/* unplayed colour for future segments */
section.hyperaudio-current ~ section.hyperaudio-transcript {
  color: #658898;
  /* border-right: 10px solid blue; */
}

/* player ui: buttons, progress */
div.hyperaudio-transport {
  /* flex-direction: row; */
  display: flex;
  background-color: #191919;
  color: #aaaaaa;
  height: 32px;
  align-items: baseline;
}

/* hide/show play/pause */
.hyperaudio-pause-button {
  display: none;
}

.hyperaudio-playing .hyperaudio-play-button {
  display: none;
}

.hyperaudio-playing .hyperaudio-pause-button {
  display: block;
}


/* .hyperaudio-controls {
} */

/* progress bar */
.hyperaudio-progress {
  flex-grow: 1;
  background-color: #dbdddc;
  height: 6px;
  cursor: pointer;
}

.hyperaudio-progress-bar {
  background-color: #e10600;
  height: 6px;
  cursor: pointer;
  transition: width .2s;
}

.hyperaudio-time, .hyperaudio-transport {
  font-family: sans-serif;
}

/* left-pad search box wrapper */
div.hyperaudio-search {
  background-color: #f4f4f4;
  display: block;
  padding: 10px;
}

div.hyperaudio-search input {
  height: 38px;
  border: 1px solid #d3d3d3;
  font-size: 24px !important;
  font-family: sans-serif !important;
}

/* left pad transcript itle */
div.hyperaudio-title {
  padding-left: 1em;
  padding-right: 1em;
}

.hyperaudio-player > div.hyperaudio-title > h1 {
  font-size: 24px;
  line-height: 1.66em;
}

/* hide title if empty */
.hyperaudio-player > div.hyperaudio-title > h1:empty {
  display: none;
}


/* .hyperaudio-match-start {
  background-color: lightyellow;
  border-top: 1px solid red;
}

.hyperaudio-match-end {
  background-color: lightyellow;
  border-bottom: 1px solid blue;
}

.hyperaudio-nomatch {
  background-color: red;
  outline: 1px solid red;
}

.hyperaudio-overlap {
  background-color: lightpink;
  border-top: 1px solid blue;
}

.hyperaudio-samestart {
  background-color: lightpink;
  border-bottom: 1px solid red;
} */

/* transcript zone size and scrollbar */
.hyperaudio-player article {
  height: 350px;
  overflow-y: scroll;
  margin: 10px;
}

.hyperaudio-player article::-webkit-scrollbar {
  width: 5px;
background-color: #a6a9aa;
}

.hyperaudio-player article::-webkit-scrollbar-thumb {
  background-color: #e10600;
  height: 80px;
}

.hyperaudio-player article::-webkit-scrollbar-track {
  background-color: #a6a9aa;
}

div.hyperaudio-drag {
  position: absolute;
  top: 0;
  left: -1000px;
  background-color: yellow;
  outline: 1px solid red;
}
