.rangeslider,
.rangeslider__fill {
  display: block;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 2px;
  width: 100%;
}

.rangeslider--disabled {
  opacity: 0.4;
}

.rangeslider__fill {
  background: red;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider__handle {
  background: red;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  background-size: 100%;
  border-radius: 50%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -4px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
